div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

h3 {
    text-align: center;
}

a {
    outline: none;
    text-align: center;
    margin: 10px 15px;
    padding: 10px 70px;
    padding-left: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

a.active {
    background-color: #f0803c;
    color: white;
}

a mat-icon {
    margin-right: 5px;
}

a span {
    padding: 0 15px;
}

a:not(.active):hover {
    background-color: #FFFFFF;
    color: #f0803c;
    box-shadow: 0px 0px 10px 0px rgba(240, 128, 60, 0.2);
}

